body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}


ul {
  list-style-type: none; 
  padding: 0;         
  margin: 0;            
}

ul li {
  background: none;      
  border: none;           
  padding: 0;            
  display: list-item;     
}


.demo__wrap {
  display: flex;
  justify-content: center;
  padding: 9.375rem; /* 150px */
}

.facebook-post {
  display: flex;
  flex-direction: column;
  width: 40vw;
  background: #fff;
  border: 0.0625rem solid #ddd; /* 1px */
  border-radius: 0.5rem; /* 8px */
  padding: 1rem; /* 16px */
  margin-bottom: 1rem; /* 16px */
  font-family: Arial, sans-serif;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem; /* 12px */

    &-left {
      display: flex;
    }

    &__profile-picture {
      width: 1rem; /* 16px */
      height: 1rem; /* 16px */
      // margin-right: 0.25rem; /* 4px */
      border-radius: 50%;
      object-fit: cover;
    }

    &__info {
      display: flex;
      flex-direction: column;

      &__author {
        font-weight: bold;
        font-size: 0.875rem; /* 14px */
      }

      &__timestamp {
        font-size: 0.75rem; /* 12px */
        color: #555;
      }
    }

    &__menu-button {
      background: none;
      border: none;
      font-size: 1rem; /* 16px */
      cursor: pointer;
    }
  }

  &__content {
    margin-bottom: 1rem; /* 16px */

    &__text {
      font-size: 0.875rem; /* 14px */
      margin-bottom: 0.5rem; /* 8px */
    }

    &__images {
      display: flex;
      gap: 0.5rem; /* 8px */



      &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem; /* 8px */

      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    border-top: 0.0625rem solid #ddd; /* 1px */
    padding-top: 0.5rem; /* 8px */

    &__action {
      font-size: 0.875rem; /* 14px */
      color: #555;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0.5rem; /* 8px */
      border-radius: 0.25rem; /* 4px */

      &:hover {
        background: #f0f0f0;
      }

      &--like {
        color: #4267b2;
      }

      &--comment {
        color: #00a400;
      }

      &--share {
        color: #ff4500;
      }

      &--verify {
        color: #ff4500;
      }
    }
  }
}

.facebook-post__image {
  width: 12rem; 
  height: 10rem; 
  object-fit: cover; 

}








.button-icon {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  margin-right: 0.25rem; /* 4px */
}

